.one {
  background-color: #eee;
  padding: 20px;
  text-align: center;
  width: 400px;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
}
.one .two {
  font-size: 2.5rem;
}
.one .three {
  font-size: 2rem;
}
.one .four {
  font-size: 1.5rem;
}
