.one div{
    width: 400px;
    height: 400px;
    background-color: #eee;
    margin: 20px auto;
    padding: 20px;
    
    }
    
    
    .assign-4-shape-1{
        background-image: url(/image.png);
        background-repeat: no-repeat;
        background-size: 80%;
    
    }
    
        
    .assign-4-shape-2{
            background-image: url(/image.png);
            background-repeat: repeat-y;
            background-position: right;
            background-size: 80%;   
    }
    
    
    .assign-4-shape-3{
        background-image: url(/image.png);
        background-repeat: repeat-x;
        background-position: right;
        background-size: 80%;
    
    }
    
    .assign-4-shape-4{
        background-image: url(/image.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 50%;
    
    }